<div class="kn-form-time kn-form-{{formId}}-{{name}}">
    <label for="{{formId}}-{{name}}">
        {{title}}
    </label>
    <input type="time"
           id="{{formId}}-{{name}}"
           value="{{value}}">
</div>
<div class="hide message" id="{{formId}}-{{name}}-error"></div>