<div class="kn-form-date kn-form-{{formId}}-{{name}}">
    <label for="{{formId}}-{{name}}">
        {{title}}
    </label>
    <input type="date"
           id="{{formId}}-{{name}}"
           value="{{value}}">
</div>
<div class="hide message kn-form-date-message" id="{{formId}}-{{name}}-error"></div>