<div class="kn-form-input kn-form-{{formId}}-{{name}}">
    <label for="{{formId}}-{{name}}">
        {{title}}
    </label>
    <input type="text"
           id="{{formId}}-{{name}}"
           value="{{value}}"
           placeholder="{{title}}">
    <div class="hide message" id="{{formId}}-{{name}}-error"></div>
</div>