<div class="kn-form-text kn-form-{{formId}}-{{name}}">
    <label for="{{formId}}-{{name}}">
        {{title}}
    </label>
    <textarea id="{{formId}}-{{name}}" placeholder="{{title}}">{{value}}</textarea>
    <div class="hide message" id="{{formId}}-{{name}}-error"></div>
</div>