<div class="kn-form-checkbox kn-form-{{formId}}-{{name}}">
    <label for="{{formId}}-{{name}}">
        {{title}}
    </label>
    <input type="checkbox"
           id="{{formId}}-{{name}}"
        {{value}}>
    <div class="hide message" id="{{formId}}-{{name}}-error"></div>
</div>